@import "../template/settings";
@import "../template/theme.scss";



/*********************************************
 * GLOBAL STYLES
 *********************************************/

.reveal {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: #53555C;
   }

::selection {
  color: white;
  background: rgba(11, 79, 81, 0.99);
  text-shadow: none; }

div.halfblock{
  float: left;
  width: 45%;
  text-align: left;
  margin-right: 5%;}

div.left-align{
  text-align: left;}

.reveal strong {
  font-weight: bold;
}
.reveal em {
  font-style: italic;
}

.clear{
  clear: both;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: $gdiPink;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #f9b8bb;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #01a9b4; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  transition: all .2s linear;
  max-height: 375px;
  max-width: 80%;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #01a9b4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

.reveal section img.noborder{
  border-width: 0;
  box-shadow: none;}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #01a9b4; }

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #01a9b4; }

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #01a9b4; }

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #01a9b4; }

.reveal .controls div.left.enabled:hover {
  border-right-color: #f9b8bb; }

.reveal .controls div.right.enabled:hover {
  border-left-color: #f9b8bb; }

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #f9b8bb; }

.reveal .controls div.down.enabled:hover {
  border-top-color: #f9b8bb; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #01a9b4;
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal footer{
  position: fixed;
  height: 40px;
  width: 100%;
  bottom: 3px;
  left: 0;
  z-index: 10;
  font-size: 35%;
  text-align:right;
  background-image: url(../img/wordmark-tagline.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.reveal footer .copyright{
  margin:15px 5px 0 100px;
}
.reveal footer .copyright a img{
  vertical-align: middle;
}


/*********************************************
* GDI ADDITIONS
**********************************************/
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex .cta {
  width: 40%;
  margin: 10px 0;
}
.reveal .cta {
  display: inline-block;
  padding: 20px;
  color: $gdiEarthYellow;
  border-radius: 6px;
  background-color: $lightBlue;
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: 1px;
  font-weight: bold;
}
.reveal .cta.inactive {
  background: $gdiDarkGray;
}
.reveal .inactive {
  pointer-events: none;
}
.reveal .cta:not(.image) {
  color: white;
  transition: 1s ease background-color;
}
.reveal .cta:not(.image):hover {
  background-color: $gdiDarkBlue;
  color: white;
}

.blue {color:#00A9B4;}
.green {color: #92BB44;}
.orange {color: #EDAB23;}
.left {float: left;}
.right {float: right;}

.reveal .activity {
  color: $gdiPink;
  &:after {
    content: ' \1F4BB';
  }
}

.reveal code {
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  background: $gdiDarkGray;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  text-align: left;
}

.reveal ul, .reveal ol {
  text-align: left;
  display: inline-block;
  margin: 0 0 0 1em;
}


/*********************************************
 * Accessibility
 *********************************************/
/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;}
